.user-component-channel,
.user-component__column-channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-component-channel {
  padding-bottom: 5px;
  border-bottom: var(--main-border);
}

.user-component__column-friends {
  display: flex;
  align-items: center;
}
.user-component-friends {
  padding: 5px 0px;
  border-bottom: var(--main-border);
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}
.user-component__text {
  font-weight: 600;
  font-size: 20px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 50%);
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 23px;
  margin-right: 20px;
}

.user-component_title--not-bold {
  font-weight: 400;
}

.user-component {
  display: flex;
  justify-content: space-between;
}

.friends-component {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}
.user-component__time {
  display: block;
  margin-bottom: 5px;
}
.friends-screen__friends-header {
  margin-top: 10px;
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__phone-alert {
  color: tomato;
  position: absolute;
  right: -25px;
  bottom: -1px;
}
.user-component__more {
  display: flex;
  position: relative;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 50%);
}
